 .about_head, .about_body, .about_bottom {
    margin-top: 20px;
 }

 .about_body {
    margin-top: 20px;
 }

 .about_head {
   width: 100%;
   height: 70vh;
   position: relative;
   margin-top: 20px;
}

.about_head img {
   width: 100%;
   height: 100%;
   opacity: .4;
   overflow: hidden;
}

.about_head p {
   position: absolute;
   left: 20px;
   top:30px;
   max-width: 70%;
   font-size: 25px;
}

.about_body h2 {
   color: rgba(255, 255, 255, .6)!important;
   text-align: center;
   font-size: 25px;
}

.about_body p {
   font-size: 20px;
   max-width: 70%;
   margin: 10px auto;
   text-align: center;
   color: rgba(255, 255, 255, .6);
}


 @media(max-width: 900px) {
   html {
       font-size: 90%;
   }
   section {
       padding: .5rem 3%;
   }
}

@media(max-width: 600px) {
   html {
       font-size: 75%;
   }
}

@media(max-width: 370px) {
   html {
      font-size: 75%;
   }
   .about_head p {
      font-size: 14px;
   }
}

