 .our_goal, .about_body, .about_bottom {
    margin-top: 20px;
 }

 .about_body {
    margin-top: 20px;
 }

 @media(max-width: 900px) {
   html {
       font-size: 90%;
   }
   section {
       padding: .5rem 3%;
   }
}

@media(max-width: 600px) {
   html {
       font-size: 80%;
   }
   section {
       padding: .5rem 3%;
   }
}

