.NotFound {
    width: 75%;
    height: 60vh;
    margin: 10px auto;
}


h2 {
    color: #fff !important;
    font-size: 30px;
    text-align: center;
}

.btn {
    background: none;
    cursor: pointer;
    font-size: 30px;
}

.btn:hover {
    color:red;
}

