.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: var(--mainColor);
    color: rgba(255, 255, 255, .7);
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
}
.ant-select-multiple .ant-select-selection-item
{
    background: var(--mainColor);
    border: 1px solid rgba(255, 255, 255, .2);
}
.ant-select-multiple .ant-select-selection-item-remove svg
{
    color: rgba(255, 255, 255, .6);
}
.ant-select
{
    margin-right: 10px;
    /* border: 1px solid red; */
}
.category-filter
{
    width: 400px;
}
.category-filter::before
{
    content: 'Select genre';
    font-size: 15px;
    color: var(--white);
    opacity: .6;
}
.ant-select-dropdown
{
    background: var(--mainColor);
    color: var(--white);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .2);
}
.ant-select-item-option-content
{
    color: var(--white);
}
.ant-select-item-option
{
    background: var(--mainColor);
}
.ant-select-item-option:hover
{
    background: rgba(255, 255, 255, .2);
}
.anticon-check
{
    color: var(--red);
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled)
{
    background: rgba(255, 255, 255, .2);
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
{
    background: rgba(255, 255, 255, .2)!important;
}
@media (max-width: 720px) {
    .category-filter
    {
        width: 100%;
        margin-bottom: 20px;
    }
}