[data-theme="compact"] p, p {
    margin: 0;
  }

  .ant-collapse {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    border: none !important;
    border-bottom: 1px solid var(--darkGray) !important;
    background-color: var(--mainColor)!important;
}

.ant-collapse .active {
  background: var(--mainColor);
}

.ant-collapse-header {
  color: var(--white)!important;
}

  span {
    display: block;
  }

  .ant-collapse-content-box {
    background: var(--mainColor);
    color: var(--white);
  }

  /* .ant-collapse content {
    background: var(--mainColor);
  } */

  /* .text {
    background: #333 !important;
    color: #fff;
  }

  .ant-collapse-item-active .ant-collapse-item.active {
    background: var(--mainColor);
  } */

  /* .ant-collapse > .ant-collapse-item {
    padding-top: 10px;
    border-bottom: 1px solid var(--darkGray)!important;
    background: var(--mainColor)!important;
}

.ant-collapse {
  background: var(--mainColor);
  margin-bottom: 10px;
}

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 12px 16px;
    color: var(--white)!important;
    line-height: 1.5715;
    cursor: pointer;
    transition: all 0.3s, visibility 0s;
}

.ant-collapse-item.active {
  background: var(--mainColor)!important;
  color: var(--white)!important;
}



span {
  display: block;
} */