[data-theme="compact"] p, p {
    margin: 0;
  }

  .ant-collapse {
    width: 90% !important;
    box-sizing: border-box;
    margin: 50px auto !important;
    padding: 0;
    color: var(--white);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    border: none !important;
    border-bottom: 1px solid var(--darkGray) !important;
    background-color: var(--mainColor)!important;
}

.ant-collapse .active {
  background: var(--mainColor);
}

.ant-collapse-header {
  color: var(--white)!important;
}

  span {
    display: block;
  }

  .ant-collapse-content-box {
    background: var(--mainColor);
    color: var(--white);
  }