.category__item
{
    width: 175px;
    display: block;
}
.category__item:hover .category__item__img img
{
    transform: scale(1.1);
}
.category__item__img
{
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: 10px;
}
.category__item__img img
{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.category__item__content h4
{
    font-size: 14px;
    color: var(--white);
    color: var(--red);
    margin-bottom: 0;
}
.category__item__content .genres
{
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: var(--white);
}

@media (max-width: 1100px)
{
    .category__item:nth-child(2)
    {
        display: none;
    }
}
@media (max-width: 920px)
{
    .category__item:nth-child(3)
    {
        display: none;
    }
}
@media (max-width: 740px)
{
    /* .category__item:nth-child(4)
    {
        display: none;
    } */
    .category__item:nth-child(6)
    {
        display: none;
    }
}
@media (max-width: 500px)
{
    .category__item:nth-child(5)
    {
        display: none;
    }
}

@media (max-width: 280px)
{
    .category__item:nth-child(1)
    {
        display: none;
    }
}